<div class="row" style="margin-top:100px;">
  <div class = "col-md-6">
    <div class = "panel panel-success">
      <div class = "panel-body">
			<%= simple_form_for @user do |f|%>
				<%= f.input :username, label_html: { class: 'user' }  %>
				<%= f.input :email, placeholder: "enter email", error_html:{id: "email_error"}%>
				<%= f.input :password, hint: false, error_html: { id: 'password_error'} %>
				<%= f.button :submit, (@user.new_record? ? "signup" : "update account"), class: "btn btn-primary"%>		
			<%end%>
		</div>
	</div>
  </div>
</div>			