
<h1>All users</h1>
<%= button_tag(type: :button) do%>
  <%=link_to "search", goto_users_path%>
<%end%>

    <%= will_paginate %>
    <ul class="post">
      <% @users.each do |user| %>
        <%= render user%>
      <% end %>
    </ul>
 
    <%= will_paginate %>
   
