

	<p align="center">
		<%= gravatar_for @user%>
			<h3></br><%= @user.username %></h3>
	
	</p>
	<h2 align="center"><%=link_to "create new post", root_url , class: "btn btn-primary btn-md" if current_user == @user%>
  	<%=link_to "search users", goto_users_path, class: "btn btn-primary btn-md"%>
	</h2>
	

	<div class="well well-md">
	<% if @user == current_user%>
		<h2>friends</h2>
		<%= render 'friendship/friends' %>
	<%end%>
	</div>

	<% if logged_in? and @user != current_user %>
		<div class="sidebar_box">
			<h2>
				<span class="header">Actions</span>
				<br clear="all" />
			</h2>
			
			<ul class="list-group">
				<li class="list-group-item"><%= friendship_status(current_user, @user) %>
						<% unless Friendship.exists?(current_user, @user) %>
							<br />
							<%= link_to "Add friend: #{@user.username}", 
									{ :controller => "friendship", :action => "create", :id => @user },
									data:{confirm: "Send friend request to #{@user.username}?"}, class: "btn btn-primary btn-sm" %>
						<%end%>	
				</li>			
			</ul>
		</div>
	<%end%>
	
	<% if @user.posts.any? %>
		<h3>Posts (<%= @user.posts.count %>)</h3>
		<ul class="list-group">
		<%= render @posts %>
		</ul>
		<%= will_paginate @posts %>
	<%end%>
	

	

