<% if logged_in? %>
<div class="well well-lg">
  <%= render 'shared/user_info' %>
  <%= render 'shared/post_form' %>
</div>
	<h3>Post Feed</h3>

		<%= render 'shared/feed' %>
	

<% else %>
	<div class="jumbotron">
	<h1 align="center"> Welcome to connect</h1>
	<%= link_to "Log in", login_path, class:"btn btn-primary btn-lg" %>
	 <%= link_to "Sign up now!", signup_path, class:"btn btn-primary btn-lg" %>
	 </div>
<%end%>